.container-fluid{
	height: 4000px;
    width: 1500px;
	background-color: white;
}
.rowx{
	height: 3%;
	width: 100%;
	background-color: white;
}
.k{
	height: 100%;
	width: 25%;
	margin-left: 15%;
}
.rowy{
    height:10%;
    width: 100%;
    background-color:#c4a245;
}
.y1{
	height: 100%;
    background-image: url("y1.jpg"), url("y2.jpg");
    background-size: cover;
     background-blend-mode: overlay;

}
.y2{
	height: 100%;
	background-color:#3b04dc;
}
.text{
	 position: absolute;
     font-size: 50px;
     color: white;

}
.rowz{
	height: 10%;
	width: 100%;
	background-color: white;
}
.z2{
	height: 80%;
	margin-top: 5%;
}
.z3{
	height: 100%;

}
.rows{
	height: 10%;
	width:100%;
	background-color: white;
}
.l{
	height: 80%;
	padding-left: 1%;
	margin-top: 4%
}
.l1{
	height: 60%;
	background-image:url("s11.jpg");
	background-size:cover;
	margin-left: 2%;
}
.l2{
	height: 60%;
	background-image:url("s2.jpg");
	background-size:cover;
	margin-left: 2%;
}
.l3{
	height: 60%;
	background-image:url("s3.jpg");
	background-size:cover;
	margin-left: 2%;
}
.rowt{
	height: 6%;
	width: 100%;
	background-color: white;
}
.rowd9{
	height: 15%;
	width: 100%;
	background-color: white;
}
.d1{
	height: 80%;
	background-color: white;
	margin-top: 4%;
	background-image: url("f1.jpg");
	background-size: cover;
}
.d2{
	height: 80%;
	background-color:#3b04dc;
}
.d22{
	height:90%;
	background-color: #e0a434;
	margin-top: 7%;
}
.d23{
	height: 100%;
	background-color:#3b04dc;
	color: #e0a434;
} 
#f2{
	color: white;
	font-size: 20px;

}
#f22{
	border: 1px solid white;
	background-color: #3b04dc;
}
.rowe{
	height: 10%;
	width: 100%;
	background-color: white;
}
.e2{
	height: 100%;
	background-color: white;
	color: black;
}
.e3{
	height: 100%;
	background-color: white;
}


.rowa{
	min-height: 6%;
	 max-width: 100%;
	background-color: #3b04dc;
}
.rowb{
	height: 6%;
	width: 100%;
	background-color: white;
}
.a{
	height: 100%;
}
.i{
	display: inline;
	font-size: 20px;
	color: #e0a434;
}
.p1{
	color: yellow;
	margin-top: 2%;
}
.p2{
	color: white;
}
.b{
	height: 100%;
}
.c{
	height: 100%;
}
.d{
	height: 100%;
}
.e{
	height: 100%;
}
.f{
	height: 100%;
}
.g{
	height: 100%;
}
.h1{
	height:  50%;
	border:1px solid white;
	width: 1%;
	margin-left: 10%;
	background-color: #e0a434;
}
.h2{
	height: 80%;	
}
.x11{
	height: 100%;
}
.zoo{
	height: 18%;
	width: 100%;
	background-color: white;
	background-image: url("zoo1.jpg");
	background-size: cover;
}
.footer{
	height: 4%;
	width: 100%;
	background-color: #2b2934;
}
.foo2{
	height: 100%;
	background-color: white;
	background-image: url("foot2.jpg");
	background-size: cover;
}

